{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid py-3">
      <div class="row mb-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div>
              <a href="{% url 'core:index' %}">
                  <img src="{% static 'img/logo.png' %}" class="img-fluid" style="max-height: 120px;">
              </a>
          </div>
        </div>
      </div>
      {% if request.user.is_authenticated and not next_question %}
      <div class="row mb-4">
        <div class="col-12 text-center">
          <a class="btn btn-sm btn-primary mx-2" href="{% url 'core:patients' %}">Пациенты</a>
          <a class="btn btn-sm btn-primary mx-2" href="{% url 'core:index' %}">Главная страница</a>
          <a class="btn btn-sm btn-primary mx-2" href="{% url 'logout' %}">Выход</a>
        </div>
      </div>
      {% endif %}
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>