{% extends 'core/base.html' %}


{% block content %}
<div class="col-12 col-lg-10 offset-lg-1">
    <p>
        <a href="{% url 'core:index' %}">Главная страница</a> > <span>Анкета «{{ questionnaire.fio }}»</span>
    </p>
    <div class="content my-4">
        {% if next_question %}
            <p class="my-3" style="font-size: 1.3rem;"><span class="text-muted">Вопрос</span> <b>{{ questionnaire.get_cur_question_number|add:"1" }}</b> из <b>{{ questionnaire.get_total_questions_count }}</b></p>
            <div class="question p-3">
                <h4>{{ next_question.title }}</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-check my-4">
                        {% for option in next_question.get_answer_options %}
                        <div class="form-check py-1">
                            <input class="form-check-input" type="radio" name="answer" id="answer_{{ forloop.counter }}" value="{{ option }}" required>
                            <label class="form-check-label" for="answer_{{ forloop.counter }}">
                                {{ option }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Следующий вопрос</button>
                </form>
            </div>
        {% else %}
            <h3 class="my-4">Ваши ответы</h3>
            <p class="mb-1">Вы завершили анкету <b>{{ questionnaire.quest.name }}</b>.</p>
            <a href="{% url 'core:index' %}" class="btn btn-sm btn-primary mb-4">Пройти следующую анкету</a>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Вопрос</th>
                    <th>Ответ</th>
                </tr>
                </thead>
                <tbody>
                {% for answer in questionnaire.answers.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ answer.question.title }}</td>
                    <td>{{ answer.answer }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
